In [21]:
import numpy as np
import pandas as pd

In [22]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [24]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [27]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [28]:
df

             A         B
G1 1  1.266924 -0.506445
   2 -2.720072 -1.442548
   3  0.454053 -0.853808
G2 1 -0.140121  0.740916
   2  0.053436  0.653745
   3  1.976965 -0.429339

In [29]:
df.index.names = ['GROUP','INDEX']

In [30]:
df

                    A         B
GROUP INDEX
G1    1      1.266924 -0.506445
      2     -2.720072 -1.442548
      3      0.454053 -0.853808
G2    1     -0.140121  0.740916
      2      0.053436  0.653745
      3      1.976965 -0.429339

In [34]:
df.loc['G2'].loc[3]

A    1.976965
B   -0.429339
Name: 3, dtype: float64

In [35]:
df.loc['G2'].loc[3]['B']

-0.42933893354533886

In [36]:
df

                    A         B
GROUP INDEX
G1    1      1.266924 -0.506445
      2     -2.720072 -1.442548
      3      0.454053 -0.853808
G2    1     -0.140121  0.740916
      2      0.053436  0.653745
      3      1.976965 -0.429339

In [39]:
df.xs('G1') # cross section

              A         B
INDEX
1      1.266924 -0.506445
2     -2.720072 -1.442548
3      0.454053 -0.853808

In [41]:
df.xs(3,level='INDEX')

              A         B
GROUP
G1     0.454053 -0.853808
G2     1.976965 -0.429339